@tailwind base;
@tailwind components;
@tailwind utilities;

article h1 {
    @apply font-title text-5xl text-orange-200 mb-4 font-bold tracking-tighter;
}

section h2 {
    @apply font-headers text-4xl text-orange-200 mb-2 mt-4;
}

section h3 {
    @apply font-headers text-xl text-orange-200 mb-2 mt-4;
}

section ul {
    @apply list-disc ml-4;
}


section .highlight {
    @apply my-2;
}

article a {
    @apply text-orange-200 underline;
}

.tag {
    @apply py-1 px-4 mr-3 bg-orange-400 hover:bg-orange-300 rounded-full transition-colors;
}

code {
    @apply p-1  bg-grey my-3 overflow-auto;
}

.highlight code {
    @apply bg-inherit;
}

.highlight pre {
    @apply py-4 px-2 rounded-lg;
}

section > code {
    @apply bg-black;
}

@media (prefers-reduced-motion: no-preference) {
    /* Fade in animation classes  */
    .fade-in-section {
        opacity: 0;    
        visibility: hidden;
        transition: opacity 1.2s ease-in, transform 1.2s ease-out;
        will-change: opacity, visibility;
    }
    
    .fade-in-section.from-left {
        transform: translateX(-10vw); 
    }
    .fade-in-section.from-right {
        transform: translateX(10vw); 
    }    
    .fade-in-section.from-above {
        transform: translateY(-10vh); 
    }
    .fade-in-section.from-below {
        transform: translateY(10vh); 
    }
    
    .fade-in-section.is-visible {
        opacity: 1;
        transform: none;
        visibility: visible;
    }

}